#main-container {
	margin-top: 15px;
	max-width: 850px;
}

#questions-container {
	max-width: 100%;
}

#add_question {
	width: 100%;
	margin-top: 5px;
	margin-bottom: 5px;
}

/* Somehow this 1px makes the buttons fit right in =) */
td.icons {
	width: 1px;
}

td.textarea {
	
}

td.answer {
	width: 98px;
}

/* Prevent textarea from overflowing */
#question-div {
	width: auto;
}

textarea {
	width: 100%;
	margin-bottom: 5px;
	resize: vertical;
}

#submit-edit {
	margin-top: 5px;
}

#add_question_id, #add_question_btn {
	margin-bottom: 5px;
}