#main-container
{
	margin-top: 15px;
	max-width: 850px;
}

#questions-container
{
	max-width: 100%;
}

#add_question
{
	width: 100%;
	margin-top: 5px;
	margin-bottom: 5px;
}

.icons-cell
{
	width: 1px;
}

.question-cell
{
	width: auto;
}

textarea
{
	width: 100%;
	margin-bottom: 5px;
	resize: vertical;
}

.answer-select
{
	margin-bottom: 5px;
}

#add_question_id, #add_question_btn
{
	margin-bottom: 5px;
}