.btn-group-vertical
{
	/* streches question buttons to parent width */
	width: 100%;
}
	
.btn
{
	/* splits text in buttons to multiple lines when text doesnt't fit to one line */
	white-space: normal;
	opacity: 0.8;
}

#main-container
{
	margin-top: 15px;
	margin-bottom: 50;
	max-width: 900px;
}

#label
{	
	padding: 15px 0px 0px;
}

#questions-container
{
	max-width: 100%;
}

#footer-container
{
	margin-bottom: 10px;
}

#submit-btn
{
	/* matches pagination nav */
	height: 44px;
}

.footer {
  	position: fixed;
	bottom: 0;
  	width: 100%;
  	height: 85px;
  	background-color: #E1E1E1;
}

.footer-cell {
	height: 100%;
	line-height: 100%;
	text-align: center;
	vertical-align: middle;
}

.btn.btn-success {
	width: 49.8%;
}

.btn.btn-danger {
	width: 49.8%;
	float: right;
}

/* btn-success */
.btn-success { 
  color: #FFFFFF; 
  background-color: #5BB75B; 
  border-color: #234D23; 
} 
 
.btn-success:focus, 
.btn-success:active, 
.btn-success.active, 
.open .dropdown-toggle.btn-success { 
  color: #FFFFFF; 
  background-color: #234D23; 
  border-color: #234D23; 
} 
 
.btn-success:active, 
.btn-success.active, 
.open .dropdown-toggle.btn-success { 
  background-image: none; 
} 
 
.btn-success .badge { 
  color: #5BB75B; 
  background-color: #ffffff; 
}
/* end of btn-success */

/* btn-danger */
.btn-danger { 
  color: #ffffff; 
  background-color: #B75B5B; 
  border-color: #4D2323; 
} 
 
.btn-danger:focus, 
.btn-danger:active, 
.btn-danger.active, 
.open .dropdown-toggle.btn-danger { 
  color: #ffffff; 
  background-color: #4D2323; 
  border-color: #4D2323; 
} 
 
.btn-danger:active, 
.btn-danger.active, 
.open .dropdown-toggle.btn-danger { 
  background-image: none; 
}
 
.btn-danger .badge { 
  color: #B75B5B; 
  background-color: #ffffff; 
}
/* end of btn-danger */