.btn-group-vertical
{
	/* streches question buttons to parent width */
	width: 100%;
}

.btn
{
	/* splits text in buttons to multiple lines when text doesnt't fit to one line */
	white-space: normal;
}

#main-container
{
	margin-top: 15px;
	max-width: 850px;
}

#questions-container
{
	max-width: 100%;
}

#footer-container
{
	padding: 20px;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
}
