.btn-group-vertical
{
	/* streches question buttons to parent width */
	width: 100%;
}
	
.btn
{
	/* splits text in buttons to multiple lines when text doesnt't fit to one line */
	white-space: normal;
	opacity: 0.8;
}

.btn.active, .btn:active {
    background-color: #323d4d;
}

#main-container
{
	margin-top: 15px;
	margin-bottom: 50;
	max-width: 850px;
}

#label
{	
	padding: 15px 0px 0px;
}

#questions-container
{
	max-width: 100%;
}

#footer-container
{
	padding: 10px;
}

#submit-btn
{
	height: 50px;
	margin-bottom: 25px;
}

.footer {
  	position: fixed;
	bottom: 0;
  	width: 100%;
  	height: 70px;
  	background-color: #E1E1E1;
}

.btn.btn-success {
	width: 50%;
}

.btn.btn-danger {
	width: 50%;
}



