#main-container {
	margin-top: 15px;
	max-width: 700px;
}

#students-container {
	width: 100%;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 15px;
}

#container-search {
	width: 100%;
}

#redirectcell {
	width: 125px;
}

#redirectbtn {
	width: 100%;
}

th, td {
	text-align: center;
}